/*Prevent nav-link text highlighting.*/
.nav-link {
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}

/*Prevent mobile nav toggler highlight.*/
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }